.advantages {
    min-height: 473px;
    padding: 70px 0 65px 0;
    background: #F6F6F6;
    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 270px;
            .icon {
                width: 70px;
                height: 70px;
            }
            .subtitle {
                margin-top: 35px;
                font-weight: 700;
                font-size: 18px;
                line-height: 29px;
                color: #0D0D0D;
            }
            .description {
                text-align: center;
                margin-top: 20px;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color: #0D0D0D;
                a {
                    color: $main-color;
                    text-decoration: underline;
                }
            }
        }
    }

    .animated {
        animation-name: heartbeat;
        animation-duration: 2s; //сколько длится анимация
        animation-timing-function: ease; //начинается медленно, разгоняется и замедляется
        animation-iteration-count: infinite; //бесконечная анимация
        &:hover {
            animation-play-state: paused;
        }
    }


    @media (max-width: 991px){
        .wrapper{
            .item{
                max-width: 230px;
            }
        }
    }
    @media (max-width: 768px){
        .wrapper{
            flex-direction: column;
            align-items: center;
            .item{
                max-width: 500px;
                .subtitle{
                    font-size: 24px;
                }
                .description{
                    font-size: 17px;
                }
            }
        }
    }
}